{% extends "general/main.html"%}
{% load static %}

{% block title %} Productos Hombre {% endblock %}

{% block content %}

    <section class="container py-5">
        <div class="container py-5">
            <div class="row text-center pt-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Zapatos idales para hombres</h1>
                    <p>
                        estilos unicos
                    </p>
                </div>
            </div>
            
        </div>
        <div class="container bg-light">
            <div class="row">
                {% for poner in productos %}
                    <div class="col-12 col-md-4 p-5 mt-3">
                        <a ><img src="{{poner.imagenURL}}" class="card-img"></a>
                        <h3 class="text-center mt-3 mb-3">{{ poner.nombre }}</h3>
                        <h4 class="text-center mt-3 mb-3">Q{{ poner.precio |floatformat:2}}</h4>
                        <p class="text-center"><a data-iddelarticulo="{{poner.id}}" data-accion="agregar" class="btn btn-success actualizar-carrito">Añadir al Carrito</a></p>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div><div class="row ">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>  

{% endblock content %}